# Generative AI with postgreSQL database

This notebook show how to use gen AI LLM to search the best products that match a description in Natural Language given by the user.

Here we use, 

* Generative AI, 
* Large Language Models ( LLM ),
* LangChain. A framework to use LLM models in apps.
* python
* postgreSQL
* pgVector. Python library to convert words to vectors, later used by the LLM model.

### import libraries

In [1]:
import os
import pandas as pd
import psycopg2

from sqlalchemy import create_engine
from sqlalchemy import text

### load csv data

In [2]:
# Load dataset from a web URL and store it in a pandas dataframe.

DATASET_URL = "https://github.com/GoogleCloudPlatform/python-docs-samples/raw/main/cloud-sql/postgres/pgvector/data/retail_toy_dataset.csv"
df = pd.read_csv(DATASET_URL)
df = df.loc[:, ["product_id", "product_name", "description", "list_price"]]
df = df.dropna()
#df.head(10)

In [3]:
print( 'Num of rows: {}'.format( len( df.index ) ) )

Num of rows: 848

In [4]:
df.head( 5 )

,product_id,product_name,description,list_price
0,7e8697b5b7cdb5a40daf54caf1435cd5,"Koplow Games Set of 2 D12 12-Sided Rock, Paper...","Rock, paper, scissors is a great way to resolv...",3.56
1,7de8b315b3cb91f3680eb5b88a20dcee,"12""-20"" Schwinn Training Wheels",Turn any small bicycle into an instrument for ...,28.17
2,fb9535c103d7d717f0414b2b111cfaaa,Bicycle Pinochle Jumbo Index Playing Cards - 1...,Purchase includes 1 blue deck and 1 red deck. ...,6.49
3,c73ea622b3be6a3ffa3b0b5490e4929e,Step2 Woodland Adventure Playhouse & Slide,The Step2 Woodland Climber Adventure Playhouse...,499.99
4,dec7bd1f983887650715c6fafaa5b593,Step2 Naturally Playful Welcome Home Playhouse...,Children can play and explore in the Step2 Nat...,600.00

### load tiny csv

In [5]:
data_path = '/home/art/data/tiny/retail_toy_01.csv'
transformed_path = '/home/art/data/tiny/toy_tra_01.csv'

In [6]:
df_tiny = pd.read_csv(
    filepath_or_buffer=data_path,
    sep=',',
    header=0,
    usecols=['product_id', 'product_name', 'description', 'list_price' ],
    #parse_dates=['InvoiceDate'],
    #index_col=0
    )
df_tiny.dropna()
print( 'Num of rows: {}'.format( len(df_tiny.index) ) )

Num of rows: 1

In [7]:
# df_tiny.to_csv( path_or_buf = transformed_path )

In [8]:
df_tiny.head( 50 )

,product_id,product_name,description,list_price
0,7e8697b5b7cdb5a40daf54caf1435cd5,"Koplow Games Set of 2 D12 12-Sided Rock, Paper...","Rock, paper, scissors is a great way to resolv...",3.56

### connect to postgreSQL databaseconn = psycopg2.connect(
    dbname   = PG_DATABASE,
    user     = PG_USER,
    password = PG_PASSWORD,
    host     = PG_HOST,
    port     = 5432
)

In [9]:
'''conn = psycopg2.connect(
    dbname   = PG_DATABASE,
    user     = PG_USER,
    password = PG_PASSWORD,
    host     = PG_HOST,
    port     = 5432
)'''

'conn = psycopg2.connect(\n    dbname   = PG_DATABASE,\n    user     = PG_USER,\n    password = PG_PASSWORD,\n    host     = PG_HOST,\n    port     = 5432\n)'

In [10]:
pg_params = {
  'host'     : os.environ[ 'PG_HOST'     ],
  'database' : os.environ[ 'PG_DATABASE' ],
  'user'     : os.environ[ 'PG_USER'     ],
  'password' : os.environ[ 'PG_PASSWORD' ],
  'port'     : 5432
}

In [11]:
#engine = create_engine( 'postgresql://username:password@localhost:5432/mydatabase' )
conn_str = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format( **pg_params )

In [12]:

engine = create_engine( conn_str )
conn = engine.connect()

In [13]:
type( conn )

sqlalchemy.engine.base.Connection

### create tables in database

products table

In [15]:
sql_01 = 'DROP TABLE IF EXISTS products CASCADE;'

sql_02 = '''
CREATE TABLE public.products(
  product_id   VARCHAR(1024) PRIMARY KEY,
  product_name TEXT,
  description  TEXT,
  list_price   NUMERIC) ;'''

In [16]:
result = conn.execute( text( sql_01 ) )
result = conn.execute( text( sql_02 ) )
conn.commit()

embeddings table

In [35]:
sql_03 = 'DROP TABLE IF EXISTS product_embeddings'
sql_04 = '''
CREATE TABLE product_embeddings(
  product_id VARCHAR(1024) NOT NULL REFERENCES products(product_id),
  content    TEXT,
  embedding  vector(768))
'''

In [36]:
result = conn.execute( text( sql_03 ) )
result = conn.execute( text( sql_04 ) )
conn.commit()

In [17]:
q_01 = 'select now();'

In [18]:
q_02 = 'select * from products'

In [19]:
q_03 = '''
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema' AND
    tablename = 'products' ;
'''

In [20]:
q_04 = 'select * from public.capital_bike_share limit 5;'

In [21]:
result = conn.execute( text( q_02 ) )

for i in result:
    print( i )

In [22]:
result = conn.execute( text( q_01 ) )

for i in result:
    print( i )

(datetime.datetime(2024, 3, 2, 12, 51, 50, 350915, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),)

### insert from dataframe to postgreSQL

In [ ]:
#df.to_sql( 'products', engine, if_exists='replace',index=False )

In [63]:
'''
df_tiny.to_sql(
    name      = 'products',
    con       = conn,
    schema    = 'public',
    if_exists = 'append',
    chunksize = 500,
    index     = False
)
'''

"\ndf_tiny.to_sql(\n    name      = 'products',\n    con       = conn,\n    schema    = 'public',\n    if_exists = 'append',\n    chunksize = 500,\n    index     = False\n)\n"

In [23]:
df.to_sql(
    name      = 'products',
    con       = conn,
    schema    = 'public',
    if_exists = 'append',
    chunksize = 500,
    index     = False
)

848

In [27]:
conn.commit()

In [31]:
sql_01 = 'SELECT * FROM products LIMIT 3'

In [32]:
result = conn.execute( text( sql_01 ) )

In [33]:
for i in result:
    print( i )

('7e8697b5b7cdb5a40daf54caf1435cd5', 'Koplow Games Set of 2 D12 12-Sided Rock, Paper, Scissors Game Dice - White with Pink Letters #13060', 'Rock, paper, scissors is a great way to resolve disputs and hard decisions. Now you can battle it out with these 28mm 12-sided rock, paper, scissors  ... (532 characters truncated) ... RD - Small parts. Not for children under 3 years. Koplow Games Set of 2 D12 12-Sided Rock, Paper, Scissors Game Dice - White with Pink Letters #13060', Decimal('3.56'))
('7de8b315b3cb91f3680eb5b88a20dcee', '12"-20" Schwinn Training Wheels', 'Turn any small bicycle into an instrument for learning to ride with the Schwinn 12"-20" Training Wheels. They feature a slotted design to fit 12" to  ... (1420 characters truncated) ... ctions, and all mounting hardware. Tools required: Adjustable wrench. www.schwinnbikes.com. Follow ride Schwinn on: Twitter. Facebook. Made in China.', Decimal('28.17'))
('fb9535c103d7d717f0414b2b111cfaaa', 'Bicycle Pinochle Jumbo Index Playing Cards - 1 Red and 1 Blue Deck', 'Purchase includes 1 blue deck and 1 red deck. This is a standard sized deck, 2.5" wide x 3.5" tall, with a jumbo index (size of the print). From the  ... (910 characters truncated) ... rds performance, hand after hand. Great for all card games. Great for all players. Bicycle Pinochle Jumbo Index Playing Cards - 1 Red and 1 Blue Deck', Decimal('6.49'))

### postgres Vector extension

install pgventor. Linux ubuntu terminal

In [ ]:
sudo apt install postgresql-15-pgvector

enable pgvector

* linux terminal

sudo -u postgres psql # run as postgres user

* SQL command

CREATE EXTENSION vector; # create the vector extension

## Word Embeddings

### read products table, create embeddings and load into products_embeddings table

In [ ]:
# read product description and use VertexAIEmbeddings to generate the embeddings
# create a product_embeddings dataframe with the embeddings

In [ ]:
# insert data from dataframe ---> to SQL table 
# product_embeddings ---> product_embeddings

### links

* Colab notebook

https://colab.research.google.com/github/GoogleCloudPlatform/python-docs-samples/blob/main/cloud-sql/postgres/pgvector/notebooks/pgvector_gen_ai_demo.ipynb#scrollTo=pYaxNic_DIL6

* how to insert pandas dataframe to postgreSQL

https://stackoverflow.com/questions/23103962/how-to-write-dataframe-to-postgres-table

https://www.geeksforgeeks.org/how-to-insert-a-pandas-dataframe-to-an-existing-postgresql-table/

* how to install pgvector

https://rocketee.rs/install-postgresql-pgvector-ubuntu-22